.tutorial-layout,
#Tutorial {
  position: fixed;
}

.tutorial-layout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

#Tutorial {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  z-index: 9;
  transform: translate(-50%, -50%);
  min-width: 50rem;
  max-width: 50rem;
  // max-height: 75%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;

  .content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-slider {
      img {
        border-radius: 3px;
        width: 45rem;
      }
    }
    .description-wrap {
      padding: 0 2rem;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .bottom {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
