.setting-tt {
  z-index: 9;
  display: flex;
  border-radius: 5px;
  padding: 0.25rem;
  position: fixed;
  background-color: rgb(245, 246, 250);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 4rem;
  justify-content: space-around;
  padding-left: 0.5rem;

  .title-edit,
  .remove {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }
  }
}
