#Menu {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  padding: 0 2rem;

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 1.5rem;

    .header-btn {
      cursor: pointer;
      height: 100%;
      width: 8rem;
      background-color: lightgray;

      &:hover {
        background-color: gray;
        transition: 0.3s background-color;
      }
    }

    .header-half-btn {
      width: 4rem !important;
    }

    .tab-menu-button {
      border-top-left-radius: 3px;
    }

    // .toggle-button-wrap {}

    .feed-menu-button {
      border-top-right-radius: 3px;
    }
  }
  .content {
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgray;
    height: 100%;
    overflow: hidden;

    & > div {
      height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
