@import '../../variables.scss';

#TabMenu {
  display: flex;
  padding: 2px 0 1px 0;

  & > div {
    width: 50%;
  }

  .icon {
    margin: 0;
  }

  .cart,
  .tabs {
    display: flex;

    & > .title {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0.25rem;
      box-shadow: 0 0 2px rgba(20, 101, 192, 1);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      h2 {
        font-size: 1.2rem;
        margin: 0;
      }

      .icon {
        color: rgba(20, 101, 192, 0.5);
      }
    }
  }

  .tabs {
    flex-direction: row-reverse;
    & > .title {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .cart {
    .cart-item-list {
      display: flex;
      margin: 0;
      padding: 1rem;
      overflow-y: auto;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: center;

      &::-webkit-scrollbar {
        display: none;
      }

      .cart-item {
        margin: 0.25rem 0.5rem;

        .item-content {
          .item-header {
            display: flex;

            .icon-wrap {
              padding-top: 0.1rem;
              color: $header-background-color;
              opacity: 0.5;
              cursor: pointer;

              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
      }
    }
  }
}
