#Contents {
  display: flex;
  height: 100%;

  overflow: hidden;
  background-color: rgb(245, 246, 250);

  & > :nth-child(2) {
    border-left: 1px solid gray;
  }

  .left,
  .right {
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
